/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/04/2017, 20:22:13
    Author     : Jeferson
*/
body{
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

h3 {
    text-align: center;
}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin:150px 10px 50px 250px;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    padding: 20px;
}

/* Formatação do Menu */
nav#menu{
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    right: 550px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}


